header img {
  max-width: 45px;
  border-radius: 50%;
  overflow: hidden;
  grid-column: 1/2;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #c0c7d1;
}

.heading {
  background: url(6_string_items/hero_image.png);
  height: 300px;
  width: 100%;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-items: center;
}

.section img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: contain;
  border: 4px #007bff;
  border-radius: 25px;
  transition: transform 0.3s ease;
}
